.display {
  padding: 1rem;
}

.button-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 4rem;
}

.button {
  padding: 1rem;
  background: none;
  background-color: #eeeeee;
  border: none;
  box-shadow: 0 0 1px 1px #cfcfcf;
  font-size: 1.5rem;
}

.button:active {
  background-color: #aeaeae;
}

.button.function {
  background-color: #e0e0e0;
}

.button.function:active {
  background-color: #aeaeae;
}

.button.zero {
  grid-column: span 2;
}

.button.operation {
  background-color: #f79231;
  color: white;
}

.button.operation:active {
  background-color: #db802b;
}
