$calculator-min-height: 10rem;
$calculator-max-height: 30rem;
$calculator-max-width: 25rem;
$calculator-border-radius: 1rem 1rem 0 0;
$calculator-color: #e6e6e6;
$calculator__body-color: #616161;
$calculator__button-color--active: #9e9e9e;
$calculator__button-color-special: #ff8f00;
$calculator__button-color-special--active: #ce7603;

/*
  make the calculator rounded sides in the top.
*/
.calculator {
  max-width: $calculator-max-width;
  min-height: $calculator-min-height;
  margin: 0 auto;
  border-radius: $calculator-border-radius;
  box-shadow: 0px 0px 5px 0px #0006;
  background-color: $calculator-color;
}

.calculator__display {
  display: flex;
  flex-flow: column;
  min-height: 7rem;
  padding: .5rem 1rem;
  border-radius: $calculator-border-radius;
  background-color: #212121af;

  .title {
    color: white;
  }

  /* 
    equally distribute space for all calc display elements 
    and also align them right-center
  */

  > * {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
  }
}

.calculator__body {
  height: 20vw;
  min-height: 23rem;
  padding: 0;
  background-color: $calculator__body-color;
}

@supports (display: grid) {
  .calculator__body {
    display: grid;
    grid-template-columns: repeat(4, minmax(1rem, auto));
  }
}

.calculator__button {
  font-size: 1.7rem;
  border: none;
  background-color: $calculator-color;
  box-shadow: 0 0 1px 0 #080808;
}

.calculator__button:active {
  background-color: $calculator__button-color--active;
}

.calculator__button:nth-of-type(4n) {
  color: white;
  background-color: $calculator__button-color-special;
}

.calculator__button:nth-of-type(4n):active {
  color: black;
  background-color: $calculator__button-color-special--active;
}